* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/*--------------header---------------*/
.header {
    width: 100%;
    height: 200px;
    background-color: black;
}

.header_top {
    margin: 0px 0px 1px 0px;
    width: 100%;
    height: 60%;
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

    .header_top img {
        padding-left: 80px;
        width: 200px;
        height: 100px;
    }

    .header_top input[type="text"] {
        g: border-box;
        x;
        box-sizing: border-box;
        border: 1px solid black;
        border-radius: 4px;
        outline: none;
        padding: 12px 14px;
    }

    .header_top input[type="submit"] {
        width: 50px;
        background: #C89979;
        border: 1px solid black;
        border-radius: 4px;
        padding: 12px 0px;
        color: white;
    }

    .header_top .login {
        text-decoration: none;
        display: flex;
    }

        .header_top .login p {
            color: black;
        }

        .header_top .login a {
            color: black;
            font-size: 30px;
        }

.header_bot {
    width: 100%;
    height: 40%;
    background-color: black;
    align-items: center;
    display: flex;
}

    .header_bot .icon {
        display: none;
    }

    .header_bot ul {
        margin: auto;
        padding: 0px;
    }

        .header_bot ul li {
            list-style: none;
            display: inline-block;
        }

            .header_bot ul li a {
                text-decoration: none;
                display: block;
                height: 40px;
                line-height: 40px;
                color: white;
                padding: 0px 15px 0px 15px;
                font-size: 25px;
            }

    .header_bot a:hover {
        background-color: #C89979;
        color: red;
    }
/*------------------banner--------------*/



.main {
    width:100%;
    font-size: 16px;
    margin: 30px 0px 0px 0px;
    padding: 0;
    height:auto;
}
.main .bang {
    text-align: center;
    width:100%;
}
/**.bang,th,td {
    border:2px solid red;
    border-collapse: collapse;
}**/
.td1{
    width:150px;
    height:150px;
}
.main .cart_product{
    width:70%;
    float:left;
    height:auto;
    text-align:center;
}
.main .cart_price {
    width: 30%;
    float: right;
    background: red;
    height: 100%;
}
.anh {
    height: 70%;
    width: 70%;
}
.xoa {
    width: 80px;
    height: 40px;
    background: red;
    color: aliceblue;
    border: 0px solid white;
    border-radius: 4px;
}

/*---------Thanh toán--------*/
.main .cart_price {
    width: 30%;
    height: 350px;
    border-radius: 8px;
    background-color:burlywood;
}
.main .cart--right{
    text-align:center;
}
.main .cart--right .cart__title--right{
    margin:50px;
}
.main .cart--right .cart__products-total-price {
    margin:50px;
}
#order_total_price{
    color:red;
    margin:10px;
}
.main .cart--right cart__order-total {
    margin: 20px;
}
.purchase-button{
    width:150px;
    height:25px;
    color:white;
    background-color:darkcyan;
    border-radius:4px;
    border:0px;
}
/*.main .cart--right .cart__product-price-unit {
    margin:15px;
}*/

/*------------footer-------------*/
.footer {
    margin-top: 20px;
    width: 100%;
    height: 250px;
    background-color: yellow;
    display: flex;
    justify-content: space-around;
    color: black;
}

    .footer .Thongtinlienhe {
        float: left;
        margin: auto;
    }

    .footer .Lienket {
        float: left;
        margin: auto;
    }

        .footer .Lienket ul li {
            text-decoration: none;
            list-style: none;
        }

@media screen and (max-width:800px) {
    * {
        font-size: 13px;
    }

    .header {
        height: auto;
        margin: 0;
    }

    .header_bot .icon {
        float: left;
        display: block;
        color: white;
    }

    .header_bot ul li a {
        display: none;
    }

    .header_botresponsive {
        margin: 1px;
        position: relative;
        height: auto;
        float: left;
        width: 100%;
    }

        .header_botresponsive .icon {
            position: absolute;
            right: 5px;
            top: 0;
            color: black;
            float: left;
            display: block;
        }

        .header_botresponsive a {
            float: left;
            display: block;
            text-align: center;
            margin-left: 10px;
        }

        .header_botresponsive ul li a {
            padding: 0px;
        }

        .header_botresponsive ul {
            padding: 0;
            height: auto;
            width: 100%;
            text-align: center;
            color: black;
        }

            .header_botresponsive ul li {
                list-style: none;
            }

        .header_botresponsive li {
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin-left: -5px;
            color: black;
        }

        .header_botresponsive a {
            display: block;
            padding: 0px;
        }
}

