<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="cry_windowform.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=LAPTOP-I9P04673\SQLEXPRESS;Initial Catalog=QLSV;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="QLSV" connectionString="Data Source=LAPTOP-I9P04673\SQLEXPRESS;Initial Catalog=QLSV;Integrated Security=True;"/>
	</connectionStrings>
</configuration>