<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="baikiemtra" connectionString="Data Source=LAPTOP-I9P04673\SQLEXPRESS;Initial Catalog=baikiemtra;Integrated Security=True;"/>
	</connectionStrings>
</configuration>