.header__content-nav--item4 {
    color: var(--white-color);
    background-color: var(--primary-color);
} 
main {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.group {
    width: 50%;
    height: 200px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    border: 1px solid var(--black-color);
}

.group__image {
    flex: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.group__content {
    flex: 2;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}

.group__content--top {
    flex: 5;
}

.group__content--bottom {
    flex: 1;
}

.group__content--time {
    font-size: 1.1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color: var(--black-color);
}

.group__content--title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 10px;
    color: var(--primary-color);
}

.group__content--note {
    margin-right: 10px;
}

.group__content--footer {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    margin-top: 5px;
}

.group__content--footer-icon {
    font-size: 1.2rem;
}

.group__content--footer-view {
    word-spacing: 20px;
    font-size: 0.9rem;
}

.group__content--border {
    width: 100%;
    height: 1px;
    background-color: var(--primary-color);
}
